<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<targets>

		<target xsi:type="Console" name="console">
			<layout type="JsonLayout">
				<attribute name="level" layout="${level}" />
				<attribute name="message" layout="${myLayout}" />
				<attribute name="eventProperties" encode="false" >
					<layout type='JsonLayout' includeAllProperties="true" maxRecursionLimit="20"/>
				</attribute>
			</layout>
		</target>

		<target xsi:type="ColoredConsole" name="console2" layout="${myLayout}" />

	</targets>

	<rules>
		<logger name="*" minlevel="Info" writeTo="console" />
		<logger name="*" minlevel="Info" writeTo="console2" />
	</rules>
</nlog>